.cards{
    overflow: auto;
    height: 100%;
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    padding-bottom: 5rem;


    .card{
        max-width:27.5rem;
        padding-inline: 1rem;
        padding-block: 0.75rem;
        background-color:rgb(49, 49, 49);
        border-radius: 0.5rem;
        flex-grow: 1;
        flex-basis: 20rem;

        display: flex;
        flex-direction: column;
        gap: 1rem;
        img{
            width:100%;
            border-radius: 1rem;
        }
        
        h1{
            font-size: 1.5rem;
        }
        .description{
            opacity: 0.8;
            word-spacing: 0.4rem;
            line-height: 1.3rem;
        }
        .tags{
            display: flex;
            flex-wrap: wrap;
            gap: 0.5rem;
            .tag{
                width: fit-content;
                padding-inline: 1.2rem;
                padding-block: 0.75rem;
                border-radius: 0.75rem;
                background-color: rgb(41, 41, 41);
                white-space: nowrap;
            }
        }
        .urls{
            display: flex;
            justify-content: space-between;
            .repository{
                display: flex;
                gap: .5rem;
                align-items: center;
            }
           .github{
            height: 1rem;
            width: 1rem;
            justify-content: center;
           }
        }
    }
}