.window {
    background-color: rgb(0, 0, 0);
    border-radius: 1rem;
    overflow: hidden;
    height: 100%;

    .nav {
        background-color: rgba(31, 31, 31, 0.674);
        padding-inline: 0.75rem;
        padding-block: 0.5rem;
        display: flex;
        gap: 1rem;
        align-items: center;
        border-bottom: 1px solid rgb(60, 60, 60);

        .dots {
            display: flex;
            gap: 0.1rem;


            .dot {
                height: 12px;
                width: 12px;
                border-radius: 50%;
                margin-right: 8px;
                background-color: rgb(255, 255, 255);
            }
            .red {
                background-color: rgb(243, 42, 31);
            }
            .yellow {
                background-color: rgb(253, 196, 75);
            }
            .green {
                background-color: rgb(39, 201, 63);
            }
        }
    }
    .main-content{
        height:100%;
    }
}