nav{
    width: 100%;
    color: white;
    padding-inline:0.75rem ;
    padding-block:0.5rem ;
    background-color: #9e9e9e17;
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: space-between;
    
    .left ,.right{
        display: flex;
        gap: .5rem;
    }
}