*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body,
#root{
    height: 100%;
    width: 100%;
    font-family: 'Roboto', sans-serif;
}

main{
    height: 100%;
    width: 100%;
    background-image: url(./bg-image.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
body{
    background-color: rgb(0, 0, 0);
}